stages:
  - lint
  - dataset
  - train

variables:
  PYTHONUNBUFFERED: "1"

before_script:
  - python3 -m venv .venv
  - source .venv/bin/activate
  - pip install uv
  - uv sync --active

lint:
  stage: lint
  script:
    - uv run ruff check .
    - uv run ruff format --check .
  allow_failure: true

dataset:
  stage: dataset
  timeout: 30m
  script:
    - cd product/machine-learning/dataset-generation
    - uv run python tool/dataset-generator2.py 50 tool/gcjsample.csv
  allow_failure: true

train:
  stage: train
  script:
    - cd product/machine-learning/model
    - uv run python train.py
